/* mobile styles */
body {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  max-width: 375 px;
}

.centered {
  text-align: center;
}

#navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  margin: 25px;
}

#navbar #links {
  display: none; /* Hidden by default on mobile */
  position: absolute;
  top: 80px;
  left: 5%;
  right: 5%;
  width: 90%;
  background-color: rgb(16, 16, 82);
  padding: 20px 0;
  border-radius: 10px;
  z-index: 10;
  text-align: center;
}

#navbar a {
  color: #666;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; /* Will be overridden for desktop links */
}

#navbar a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#navbar #links a:hover {
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
}

#header-image {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}

#get-started {
  background-color: rgb(106, 216, 216);
  color: white;
  border: none;
  padding: 15px 2px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  display: block;
  width: 40%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#bluebg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 150px;
  margin-top: 20px;
  background-image: url("bg-shorten-mobile.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-color: rgb(16, 16, 82);
  width: 95%;
  border-radius: 20px;
  margin: auto;
}

#urlEntered {
  color: #333;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 80%;
}

#submitBtn {
background-color: rgb(106, 216, 216);
color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  width: 87%;
}

#shortenedUrl {
  border-color: aqua;
  color: green;
}

#features {
  background: rgb(235, 235, 235);
  margin: 0%;
  padding: 0;
}

.features-text {
  padding: 40px;
  text-align: center
}

.large-margin {
  padding-top: 50px;
}

.features {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.decorative-circle {
  width: 50px;
  height: 50px;
  background-color: #0d054c;
  border-radius: 50%; 
  padding: 5px;
  margin: 20px;
}

#boost-links {
  background-image: url("bg-boost-mobile.svg");
  background-color: rgb(27, 27, 90);
  margin: 0%;
  padding: 0%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px;
  color: #fff;
  text-align: center;
}

#boost-links-btn {
  background-color: rgb(106, 216, 216);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  width: 87%;
}

.footer {
  text-align: center;
  margin-top: 20px;
  background-color: hsl(260, 8%, 14%);
  color: white;
}

.footer ul {
    list-style-type: none;
}

ul, ol {
    padding: 0;
    margin: 0;
}

#social-icons {
    display: flex;
    justify-content: space-evenly; 
    margin: auto;
    max-width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  background-color: white;
  padding: 15px;
}

.sidebar {
  background-color: lightblue;
  padding: 15px;
}

/* Styles for larger screens */
@media (min-width: 768px) {
  body {
    background-color: #fff; 
  }

  .container {
    flex-direction: row;
    justify-content: center; 
    
  }

  .content {
    flex: 3;
    max-width: 800px; 
    margin-right: 20px;
  }

  #navbar {
    margin: 25px 80px; /* Add more horizontal margin */
  }

  #navbar a.icon {
    display: none; /* Hide hamburger icon on desktop */
  }

  #navbar #links {
    display: flex; /* Make the links container visible */
    flex-direction: row;
    position: static; /* Override absolute positioning */
    background-color: transparent;
    width: auto;
    padding: 0;
  }

  #navbar #links a {
    display: inline-block; /* Display links next to each other */
    margin-left: 20px;
  }

.header {
  flex-direction: row-reverse;
  align-items: center; 
  padding: 40px 80px; 
}

.header div {
  margin-right: 20px; 

}
}